<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @main.time %>
</p>

<p>
  <strong>Update:</strong>
  <%= @main.update %>
</p>

<p>
  <strong>String:</strong>
  <%= @main.string %>
</p>

<%= link_to 'Edit', edit_main_path(@main) %> |
<%= link_to 'Back', mains_path %>
