<%= form_for(vito) do |f| %>
  <% if vito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vito.errors.count, "error") %> prohibited this vito from being saved:</h2>

      <ul>
      <% vito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Day</th>
          <th>Open</th>
          <th>Close</th>
        </tr>
      </thead>
      </tbody>
        <tr>
          <td>Sunday</td>
          <td>
            <%= f.label :time, label: false %>
            <%= f.text_field :time, label: false %>
          </td>
          <td>
            <%= f.label :time, label:false %>
            <%= f.text_field :time, label:false %>
          </td>
        </tr>
      </tbody>
    </table>


    <div class="field">
      <%= f.label :updates %>
      <%= f.text_field :updates %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
