<p id="notice"><%= notice %></p>

<h1>Vitos</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Updates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vitos.each do |vito| %>
      <tr>
        <td><%= vito.open %></td>
        <td><%= vito.close %></td>
        
        <td><%= vito.updates %></td>
        <td><%= link_to 'Show', vito %></td>
        <td><%= link_to 'Edit', edit_vito_path(vito) %></td>
        <td><%= link_to 'Destroy', vito, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vito', new_vito_path %>
